@font-face {
    font-family: 'Adwa';
    src: local('Adwa'), url(./fonts/Adwa-Bold.ttf) format('opentype');
}

@font-face {
    font-family: 'Adwa';
    font-weight: 900;
    src: local('Adwa'), url(./fonts/AdwaSansSerif-Bold.ttf) format('opentype');
}

@font-face {
    font-family: 'Adwa';
    font-weight: 900;
    src: local('Adwa'), url(./fonts/AdwaSansSerif-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'Ebrima';
    src: local('Ebrima'), url(./fonts/ebrima.ttf) format('opentype');
}

@font-face {
    font-family: 'Ebrima';
    font-weight: 900;
    src: local('Ebrima'), url(./fonts/ebrimabd.ttf) format('opentype');
}